{% extends 'base.html' %}
{% block head %}
<style>
   body {
       font-family: arial, sans-serif;
      
   }
 
   .navbar {
       margin-left:20px;
       display: flex;
       justify-content: space-between;
   }
   .modes a {
       color: black; 
       text-decoration: none; 
       font-family: 'Cuprum', sans-serif;
       margin-right: 10px;
   }
   
   .modes {
       border-radius: 7px; 
       border: 2px solid #d3d3d3;
       padding: 15px;
   }

   .logout {
       right: 200px;
   }
   .description{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
   }
   .question{
      font-size:20px;
      margin-top:20px;
      margin-left: 20px;
   }
   .submit{
      margin-top:20px;
   }
   .wrong {
      margin-left:20px;
      color: red;
   }
   .right{
      margin-left:20px;
      color: green;
   }
   </style>


{% endblock %}

{% block body %}
<script>
   function reload() {
       location.reload();
   }
</script>

<div class = "navbar">
   <div class = "modes">
       <a href = "/practice"> PRACTICE</a> 
       <a href = "/contestChoice"> CONTEST</a>
       <a href ="/profile"> PROFILE </a>
   </div>
   <div class = "logout">
       <a href ="/"> LOG OUT</a>
   </div>
</div>
<div class = "wrong">
   {% if wrong %}
      <p> Wrong Answer</p>
   {% endif %}
</div>
<div class = "right">
   {% if right %}
      <p> Correct Answer</p>
   {% endif %}
   
</div>
<div class = "question" >
   <div class = "description">
      <p> {{q.name}}</p>
      {% if not q.isCompleted(userId) %}
         ⛔
      {% else %}
         ✅
      {% endif %}

      {% if q.isStarred(userId)%}
         <p> ⭐ </p>
      {% endif %}
      <form action="/handle_question" method="post" onsubmit = "setTimeout(reload, 100);">
         <input type="hidden" name="question_id" value="{{ q.filename }}">
         <input type="submit" value="Star/Unstar" class="button">
      </form>
   </div>



   <img src="{{ url_for('static', filename=q.filename[7:]) }}">
   <div class = "submit">
      <form method="POST">
         

         <input type="text" id="answer" name="answer">
         <input type="submit" value="Submit">


      </form>
   </div>
</div>

{% endblock %}